# 环境变量示例文件
# 本地开发测试用到 docker compose 容器时，请先在根目录创建名为 ".env" 的文件
# 填入本文件的内容，在其中补全以星号代替的变量，必要时修改示例提供的默认值

# 校园老吃家后端 URL，务必使用 `host.docker.internal` 代替 `localhost` 和 `127.0.0.1`
CB_BACKEND_URL=https://api.staging.biteofcampus.com

# [本地开发] 管理端 宿主机端口
CB_MANAGE_LOCAL_PORT=36664
